body,html{
	height:100%;
	margin:0px;
	font-size:16px;
	font-family:"lato",sans-serif;
	font-weight:500;
	line-height:1.8em;
	color:#666;
}
.image1,.image2,.image3,.image4{
	position:relative;
	opacity:0.6;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	
	background-attachment:fixed;
}

.image1{
	background-image:url(pexels-photo-756908.jpeg);
	min-height:100%;
}
.image2{
	background-image:url(pexels-photo-247599.jpeg);
	min-height:500px;
}
.image3{
	background-image:url(pexels-photo-125510.jpeg);
	min-height:400px;
}
.image4{
	background-image:url(bokeh-daylight-dragon-208326.jpg);
	min-height:400px;
}
.section{
	text-align:center;
	padding:40px 60px;
	
}
.section-light{
	background-color:#f4f4f4;
	color:#666;
		
}
.section-dark{
	background-color:#282e34;
	color:#ddd;
		
}
.ptext{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	color:#000;
	font-size:30px;
	letter-spacing:7px;
	text-transform:uppercase;
}
.ptext .border{
	background-color:#111;
	color:red;
	padding:25px;
}
.ptext .border.trans{
		background-color:transparent;
}
@media(max-width:568px){
	.image1,.mage2,.image3,.image4{
		background-attachment:fixed;
	}
}